In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 4. Using the pandas read_csv() method

In [3]:
pd.read_csv('../data/gdp_percapita.csv.csv')

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [4]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv.csv')
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

# Take a look at the first few rows

In [5]:
print("First Few Rows:")

First Few Rows:

In [6]:
print(gdp_df.head())

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN
2     Afghanistan  2018  2033.804389              NaN
3     Afghanistan  2017  2058.400221              NaN
4     Afghanistan  2016  2057.067978              NaN

#  Take a look at the last few rows

In [8]:
print("Last Few Rows")

Last Few Rows

In [9]:
print(gdp_df.tail())

     Country or Area  Year        Value  Value Footnotes
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

In [10]:
# 5. How many rows and columns are in gdp_df and What are the data types of each column?

In [11]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [12]:
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [13]:
data_types = gdp_df.dtypes

In [14]:
print(data_types)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [15]:
# 6.Drop the Value Footnotes column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [16]:
gdp_df.drop(columns=["Value Footnotes"])

     Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]

In [17]:
gdp_df.rename(columns = {"Country or Area": "Country", "Year": "Year", "Value":"GDP_Per_Capita"})

          Country  Year  GDP_Per_Capita  Value Footnotes
0     Afghanistan  2020     1970.560169              NaN
1     Afghanistan  2019     2065.036235              NaN
2     Afghanistan  2018     2033.804389              NaN
3     Afghanistan  2017     2058.400221              NaN
4     Afghanistan  2016     2057.067978              NaN
...           ...   ...             ...              ...
7171     Zimbabwe  1994     2603.927369              NaN
7172     Zimbabwe  1993     2420.092791              NaN
7173     Zimbabwe  1992     2437.152908              NaN
7174     Zimbabwe  1991     2733.696626              NaN
7175     Zimbabwe  1990     2652.129209              NaN

[7176 rows x 4 columns]

In [18]:
#7.How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [23]:
gdp_df_rename = gdp_df.rename(columns = {"Country or Area": "Country", "Year": "Year", "Value":"GDP_Per_Capita"})
gdp_df

          Country  Year  GDP_Per_Capita  Value Footnotes
0     Afghanistan  2020     1970.560169              NaN
1     Afghanistan  2019     2065.036235              NaN
2     Afghanistan  2018     2033.804389              NaN
3     Afghanistan  2017     2058.400221              NaN
4     Afghanistan  2016     2057.067978              NaN
...           ...   ...             ...              ...
7171     Zimbabwe  1994     2603.927369              NaN
7172     Zimbabwe  1993     2420.092791              NaN
7173     Zimbabwe  1992     2437.152908              NaN
7174     Zimbabwe  1991     2733.696626              NaN
7175     Zimbabwe  1990     2652.129209              NaN

[7176 rows x 4 columns]

In [25]:
print(gdp_df_rename.columns)

Index(['Country', 'Year', 'GDP_Per_Capita', 'Value Footnotes'], dtype='object')

In [ ]:
# Unique years for each country

In [26]:
country_year_counts = gdp_df_rename.groupby('Country')['Year'].nunique()

In [27]:
print(country_year_counts)

Country
Afghanistan                    19
Africa Eastern and Southern    31
Africa Western and Central     31
Albania                        31
Algeria                        31
                               ..
Vietnam                        31
West Bank and Gaza             27
World                          31
Zambia                         31
Zimbabwe                       31
Name: Year, Length: 242, dtype: int64

In [28]:
# Country year count

In [31]:
total_unique_years = gdp_df_rename['Year'].nunique()

In [32]:
print(unique_years_count)

31

In [36]:
list_of_countries = country_year_counts[country_year_counts == total_unique_years]

In [37]:
print(list_of_countries)

Country
Africa Eastern and Southern    31
Africa Western and Central     31
Albania                        31
Algeria                        31
Angola                         31
                               ..
Vanuatu                        31
Vietnam                        31
World                          31
Zambia                         31
Zimbabwe                       31
Name: Year, Length: 205, dtype: int64

In [38]:
# countries count have data for all years

In [39]:
list_of_countries.count()

205

In [43]:
# Missing years of data per country

In [41]:
missingyears_per_country = total_unique_years - country_year_counts

In [42]:
print(missingyears_per_country)

Country
Afghanistan                    12
Africa Eastern and Southern     0
Africa Western and Central      0
Albania                         0
Algeria                         0
                               ..
Vietnam                         0
West Bank and Gaza              4
World                           0
Zambia                          0
Zimbabwe                        0
Name: Year, Length: 242, dtype: int64

In [ ]:
#countries are missing many years of data

In [44]:
missingyears_per_country.count()

242

In [53]:
observation_per_year = gdp_df_rename.groupby('Year').size()

In [52]:
print(observation_per_year)

<bound method Series.sort_index of Year
2018    242
2017    242
2016    242
2015    242
2014    242
2013    242
2019    241
2020    240
2012    240
2011    240
2010    239
2009    239
2008    238
2007    237
2006    237
2004    236
2005    236
2003    235
2002    235
2001    234
2000    233
1999    227
1998    226
1997    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: count, dtype: int64>

In [ ]:
# I noticed that there are data gaps, particularly in the early 1990's.